@{
    ViewBag.Title = "KONNEKTOR";
}
<script>
$(document).ready(function(){
   
    
    function hide(){
         $("#demo").collapse('hide');
    }
});
</script>
    
<div id="demo" align="center" >
    <div id="navbar" style="display: inline-flex; margin: auto 10; border-bottom: 1px solid black; width: 82%;">
        <h4 style="margin-right: 25px; color: red">KONNEKTOЯ</h4>
        <a href="/" style="text-decoration:none; margin-top: 20px;">Home</a>
        <a href="/signin" style="text-decoration:none; margin-left: 83%; margin-top: 20px;">Sign in</a>
    </div>
    <div style="background-color: #e6e6e6; padding: 20 20;width: 79%; height: 177px;margin-top: 25px;">
        <h3>Welcome To Connector</h3>
        <h5>Hold your ground, hold your ground! Sons of Gondor, of Rohan, my brothers.

I see in your eyes the same fear that would take the heart of me. A day may come when the courage of men fails, when we forsake our friends and break all bonds of fellowship, but it is not this day.

An hour of wolves and shattered shields, when the age of men comes crashing down! But it is not this day!

This day we fight! By all that you hold dear on this good Earth, I bid you stand, Men of the West!</h5>
        <button class="btn" href="/register" type="button" style="text-decoration:none; color: red" class="btn btn-info" onclick="location.href = '/register';">Start</button>

    </div>  
    <div style="display: inline-flex; margin: auto 10; padding: auto 10;">
        <div style="margin: 20px 58px; width: 152px;">
            <h5>Manage Users</h5>
            <p>Fellow Terrans, I come to you in the wake of recent events to issue a call to reason. Let no human deny the perils of our time.</p>
        </div>
        <div style="margin: 20px 58px; width: 152px;">
            <h5>Delete Users</h5>
            <p>While we battle one another, divided by the petty strife of our common history, the tide of a greater conflict is turning against us, threatening to destroy all that we have accomplished.</p>
        </div>
        <div style="margin: 20px 58px; width: 152px;">
            <h5>Battlecruiser Operation</h5>
            
            <p>Yes, Commander</p>
            <p>Set a course</p>
        </div>
    </div>


</div>