@{
    ViewData["Title"] = "Sign In";
}
<div style="height: 1000px; width: 100%">
<div id="container" align="center">
    <div id="navbar" style="display: inline-flex; margin: auto 10; border-bottom: 1px solid black; width: 82%;">
        <h4 style="margin-right: 25px; color: red">KONNEKTOЯ</h4>
        <a href="/" style="text-decoration:none; margin-top: 20px;">Home</a>
        <a href="/signin" style="text-decoration:none; margin-left: 83%; margin-top: 20px;">Sign in</a>
    </div>
</div>
    <div id="mid" style="margin: 50px 25%; width: 350px;">
        <h2>Log In</h2>
        <form action="/signing" method="post">
                <table>
                    <tr><td><br></td></tr>
                <tr><td>Email</td> <td> <input type="text" name="email"></td></tr>
                <tr><td>Password</td> <td> <input type="password" name="password"></td></tr>
               <tr><td><br></td></tr>
                <tr><td><input type="submit" value="Login"></td></tr>
                <tr><td><br></td></tr>
               <tr><td><br></td></tr>
                <tr><td></td></tr>
                </table>
            </form>
            <a href="register" style="text-decoration:none;">Don't have an account? Not a problem, commrade! Register here.</a>
            @{ if(ViewBag.err!=null){
                    <p style="color: red;">@ViewBag.err</p>
                }
                }
            
    </div>
</div>

